@{
    ViewData["Title"] = "Home Page";
}
<style>
    table{
        margin-top: 30px
    }
    th,td{
        text-align: center 
    }

</style>
<table class="table" border="1">
    <thead>
        <tr>
            <th>Macp</th>
            <th>Tc</th>
            <th>Tran</th>
            <th>San</th>
            <th>Giamua1</th>
            <th>Giamua2</th>
            <th>Giamua3</th>
            <th>Klmua1</th>
            <th>Klmua2</th>
            <th>Klmua3</th>
            <th>Giakhoplenh</th>
            <th>Klkhoplenh</th>
            <th>Giaban1</th>
            <th>Giaban2</th>
            <th>Giaban3</th>
            <th>Klban1</th>
            <th>Klban2</th>
            <th>Klban3</th>
            <th>Tongkl</th>
            <th>Dumua</th>
            <th>Duban</th>
            <th>Tb</th>
            <th>Cao</th>
            <th>Thap</th>
        </tr>
    </thead>
    <tbody id="tableBody">
        
    </tbody>


</table>
